.about{
  background: url("../img/bg.png");
  background-size: cover;
  background-position: top center;
  @include tab {
    background: none;
    position: relative;
    z-index: 2;
    img{
      position: absolute;
      top: calc(-340vw / (768 / 100));
      z-index: 1;
    }
  }
  .section-title{
    padding-top: 70px;
    @include pc {
      padding-top:calc(70vw / (1040 / 100));
    }
    @include tab {
      position: relative;
      z-index: 10;
      font-size:calc(54vw / (768 / 100));
    }
  }
  &__box{
    margin: 4px;
    padding: 12px 0 18px;
    background: #000;
    border-radius: 18px;
    @include pc {
      margin:calc(4vw / (1040 / 100));
      padding:calc(12vw / (1040 / 100)) 0 calc(18vw / (1040 / 100));
      border-radius:calc(18vw / (1040 / 100));
    }
    @include tab {
      position: relative;
      z-index: 10;
      padding:calc(22vw / (768 / 100)) 0 calc(28vw / (768 / 100));
    }
    h3{
      margin-bottom: 20px;
      font-size: 38px;
      letter-spacing: 0.03em;
      color: #fff;
      @include pc {
        margin-bottom:calc(20vw / (1040 / 100));
        font-size:calc(38vw / (1040 / 100));
      }
      @include tab {
        margin-bottom:calc(28vw / (768 / 100));
        font-size:calc(50vw / (768 / 100));
      }
      span{
        margin-left: -12px;
        margin-right: -12px;
        @include pc {
          margin-left:calc(-12vw / (1040 / 100));
          margin-right:calc(-12vw / (1040 / 100));
        }
      }

    }
    p{
      font-size: 22px;
      font-family: "Hiragino Sans","ヒラギノ角ゴシック"; font-weight: 400;
      line-height: 1.3;
      @include pc {
        font-size:calc(22vw / (1040 / 100));
      }
      @include tab {
        font-size:calc(30vw / (768 / 100));
        line-height: 1.6;
      }
      span{
        font-size: 34px;
        @include pc {
          font-size:calc(34vw / (1040 / 100));
        }
        @include tab {
          font-size:calc(46vw / (768 / 100));
        }
      }
    }
    &-line{
      margin: 50px auto;
      width: 900px;
      border-radius: 20px;
      border: 1px solid $yellow;
      @include pc {
        margin:calc(50vw / (1040 / 100)) auto;
        width:calc(900vw / (1040 / 100));
        border-radius:calc(20vw / (1040 / 100));
      }
      @include tab {
        position: relative;
        z-index: 10;
      }
    }
  }
  &__coupon{
    &-outer{
      margin-bottom: 50px;
      width: 600px;
      font-family: "kozka";
      background: #4298be;
      color: #ffff01;
      @include pc {
        margin:calc(20vw / (1040 / 100)) auto;
        width:calc(600vw / (1040 / 100));
      }
      @include tab {
        margin:calc(40vw / (768 / 100)) auto calc(18vw / (768 / 100));
        width:calc(620vw / (768 / 100));
      }
      &-top{
        padding-top: 28px;
        margin-bottom: 4px;
        font-size: 32px;
        letter-spacing: 0.01em;
        @include pc {
          padding-top:calc(28vw / (1040 / 100));
          margin-bottom:calc(4vw / (1040 / 100));
          font-size:calc(32vw / (1040 / 100));
        }
        @include tab {
          padding-top:calc(30vw / (768 / 100));
          margin-bottom:calc(4vw / (768 / 100));
          font-size:calc(36vw / (768 / 100));
        }
      }
      &-small{
        padding: 20px 0;
        color: #fff;
        @include pc {
          padding:calc(20vw / (1040 / 100)) 0;
        }
        @include tab {
          padding:calc(20vw / (768 / 100)) 0 calc(20vw / (768 / 100));
          font-size:calc(20vw / (768 / 100));
          line-height: 1.5;
        }
      }
    }
    &-inner{
      padding: 10px 0 14px;
      margin: 0 auto;
      width: 386px;
      background: #ffff01;
      font-family: "kozka";
      color: #4298be;
      @include pc {
        padding:calc(10vw / (1040 / 100)) 0 calc(14vw / (1040 / 100));
        width:calc(386vw / (1040 / 100));
      }
      @include tab {
        padding:calc(8vw / (768 / 100)) 0 calc(12vw / (768 / 100));
        width:calc(440vw / (768 / 100));
      }
      p{
        font-size: 34px;
        @include pc {
          font-size:calc(34vw / (1040 / 100));
        }
        @include tab {
          font-size:calc(40vw / (768 / 100));
        }
      }
      h4{
        font-size: 68px;
        font-family: "ryumin";
        @include pc {
          font-size:calc(68vw / (1040 / 100));
        }
        @include tab {
          font-size:calc(80vw / (768 / 100));
        }
        span{
          font-size: 44px;
          @include pc {
            font-size:calc(44vw / (1040 / 100));
          }
          @include tab {
            font-size:calc(48vw / (768 / 100));
          }
        }
      }
      h5{
        font-size: 44px;
        @include pc {
          font-size:calc(44vw / (1040 / 100));
        }
        @include tab {
          font-size:calc(50vw / (768 / 100));
        }
      }
    }
  }
  &__space{
    height: 122px;
    @include pc {
      height:calc(122vw / (1040 / 100));
    }
    @include tab {
      height:calc(1vw / (768 / 100));
    }
  }
}