@import "mixin";

.bx-wrapper .bx-next {
  right: 10px;
  background: url("../img/common/arrow-next.png") no-repeat;
}

.bx-wrapper .bx-prev {
  left: 10px;
  background: url("../img/common/arrow-back.png") no-repeat;
}

.access_wrap {
  border: solid 2px transparent;
  border-image: url(../img/common/bd.png) 1 stretch;
  padding-top: 40px;

  .shop-list {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .shop_ttl {
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 2px solid $orange;
    font-size: 24px;
    font-weight: bold;
  }
}

.access_col {
  width: 900px;
  margin: auto;

  .map_txt {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .map {
    margin-bottom: 20px;
  }

  h3 {
    background: $pink;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    padding: 2px 0;
    margin-bottom: 5px;
  }

  .blk01 {
    > .movie {
      margin-bottom: 60px;
    }
  }

  .blk02 {
    width: 270px;
  }
}

//ページ内リンク先

#umeda,
#nippon,
#nanba,
#kyobashi {
  margin-top: -80px;
  padding-top: 80px;
}