@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  color: orange;
}

li {
  list-style-type: none;
}

body {
  letter-spacing: 0.1em;
  font-family: -apple-system, BlinkMacSystemFont, YuGothic, "游ゴシック体", "游ゴシック", "Yu Gothic Medium", "Yu Gothic", sans-serif;
  font-variant-ligatures: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  background: url("../img/common/bg_dot.png") repeat;
}

/*------------------
メインコンテンツ幅
---------------------*/
main {
  width: 1294px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 47px;
  padding-right: 47px;
  background: #000;
  padding-bottom: 100px;
  z-index: 1;
  position: relative;
}

/*------------------
背景画像
---------------------*/
.bg_img {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.side_bnr {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
  height: 30vh;
}
.side_bnr li {
  height: 80%;
}
.side_bnr li img {
  height: 100%;
}

/*------------------
横並び
---------------------*/
.flex {
  display: flex;
  justify-content: space-between;
}

/*------------------
スクロールバー
---------------------*/
::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.fox_scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.3);
}

/*------------------
店舗チェックボックス
---------------------*/
.shop-check {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-6px);
}
.shop-check_txt {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.001em;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 30px;
  position: relative;
  width: auto;
  font-size: 21px;
}
.shop-check_txt::before {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  content: "";
  display: block;
  height: 22px;
  left: 5px;
  margin-top: -11px;
  position: absolute;
  top: 50%;
  width: 22px;
}
.shop-check_txt::after {
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  content: "";
  display: block;
  height: 20px;
  left: 11px;
  margin-top: -13px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 9px;
}
.shop-check_box {
  visibility: hidden;
  width: 0;
}
.shop-check input[type=checkbox]:checked + .shop-check_txt::before {
  border: none;
  background: #ff9100;
}
.shop-check input[type=checkbox]:checked + .shop-check_txt::after {
  opacity: 1;
}

/*------------------
絞り込みラジオボタン
---------------------*/
.sort_radio {
  margin-top: 0;
  padding: 0 10px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}
.sort_radio p,
.sort_radio div {
  color: #fff;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.001em;
}
.sort_radio p {
  border-right: 2px solid #fff;
  margin-right: 24px;
  width: 125px;
  font-size: 20px;
}
.sort_radio .radio {
  width: 947px;
  width: auto;
  justify-content: flex-start;
  align-items: center;
}
.sort_radio .radio div {
  margin-right: 0;
  font-size: 24px;
}
.sort_radio .radio div:last-child {
  margin-right: 0;
}
.sort_radio .radio div:last-child label {
  padding-right: 0;
}
.sort_radio input[type=radio] {
  display: none;
}
.sort_radio .radio02 {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
  font-size: 20px;
}
.sort_radio .radio02::before {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: "";
  display: block;
  height: 25px;
  left: 0px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  width: 25px;
}
.sort_radio .radio02::after {
  background: #ff9100;
  border-radius: 50%;
  content: "";
  display: block;
  height: 17px;
  left: 4px;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  top: 7px;
  width: 17px;
}
.sort_radio input[type=radio]:checked + .radio02::before {
  border-color: #666;
}
.sort_radio input[type=radio]:checked + .radio02::after {
  opacity: 1;
}

/*------------------
女の子五列
---------------------*/
.girl_wrap_5col {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.girl_wrap_5col .wrap {
  margin-bottom: 8px;
  justify-content: flex-start;
  flex-flow: wrap;
}
.girl_wrap_5col .girl_icon_list {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 318px;
  justify-content: flex-start;
  width: 82%;
  flex-flow: wrap;
}
.girl_wrap_5col .girl_icon_list li {
  margin-right: 5px;
}
.girl_wrap_5col .girl_icon_list li:last-child {
  margin-right: 0;
}
.girl_wrap_5col .girl_icon_list_group {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 186px;
  justify-content: flex-start;
  width: 82%;
  flex-flow: wrap;
}
.girl_wrap_5col .girl_icon_list_group li {
  margin-right: 5px;
}
.girl_wrap_5col .girl_icon_list_group li:last-child {
  margin-right: 0;
}
.girl_wrap_5col .col {
  border: solid 2px #fff;
  -o-border-image: url(../img/common/bd.png) 1 stretch;
     border-image: url(../img/common/bd.png) 1 stretch;
  padding: 12px 12px;
  width: 222px;
  background: url("../img/common/bg_col_girls.png") no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 5px 10px;
}
.girl_wrap_5col .col .inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.girl_wrap_5col .col .shop {
  background: #ff9100;
  color: #fff;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  padding: 2px 0;
}
.girl_wrap_5col .col .time {
  color: #501e0e;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.001em;
  text-align: center;
  background: rgb(255, 161, 0);
  background: linear-gradient(0deg, rgb(255, 161, 0) 0%, rgb(255, 182, 57) 45%, rgb(210, 137, 0) 49%, rgb(255, 173, 0) 100%);
  padding: 6px 0;
  font-weight: bold;
  margin-bottom: 10px;
}
.girl_wrap_5col .col .time2 {
  color: #fff;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.001em;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 5px;
}
.girl_wrap_5col .col .pic img {
  height: 273px;
}
.girl_wrap_5col .col .name {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.001em;
  text-align: center;
  margin-top: 10px;
}
.girl_wrap_5col .col .size {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5px;
}
.girl_wrap_5col .col .tug {
  flex-flow: wrap;
  margin-top: 10px;
  min-height: 49px;
  align-items: flex-start;
}
.girl_wrap_5col .col .tug li {
  width: 94px;
  color: #ff4cc0;
  background: #fff;
  text-align: center;
  color: #ff4cc0;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0em;
  margin-bottom: 5px;
  padding: 5px;
}
.girl_wrap_5col .col .tug li:nth-child(3),
.girl_wrap_5col .col .tug li:nth-child(4) {
  margin-bottom: 0;
}
.girl_wrap_5col .col .special {
  margin-top: 6px;
}
.girl_wrap_5col .flexdom {
  width: 222px;
}

.girl_wrap_5col .col .name {
  color: #fff;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.05em;
  text-align: center;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*------------------
出勤ステータス
---------------------*/
.status {
  background: #ff4cc0;
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}
.status span:nth-child(1) {
  text-align: center;
  color: #fff;
}
.status span:nth-child(2) {
  color: #ff4cc0;
  background: #fff;
  width: 94%;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
}
.status + p {
  color: #000;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.001em;
  margin-top: 8px;
}

.status_01 {
  text-align: center;
  display: block;
}

.status_02 {
  display: block;
  text-align: center;
  height: 52px;
}
.status_02 span:nth-child(1) {
  font-size: 16px;
  letter-spacing: 0;
}
.status_02 span:nth-child(2) {
  font-size: 14px;
  letter-spacing: 0;
  width: 96%;
}
.status_02 span br {
  display: none;
}

.girl_wrap_5col .status {
  height: 50px;
  margin-bottom: 10px;
}
.girl_wrap_5col .status_01 {
  padding: 5px;
}
.girl_wrap_5col .status_01 span {
  display: flex;
  width: 100%;
  height: 100%;
  background: #ff4cc0;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.rank .status {
  width: 260px;
}

.story .status {
  width: 250px;
}

.page_prof .btn1 .status_01 {
  width: 59%;
  padding: 5px;
  min-height: 48px;
}
.page_prof .btn1 .status_01 span {
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #ff4cc0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.page_prof .btn1 .status_02 {
  width: 59%;
  min-height: 48px;
}

/*------------------
特別指名料
---------------------*/
.special {
  background: url("../img/common/bg_special.png");
  padding: 8px;
}
.special p:nth-child(1) {
  color: #ff4cc0;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.001em;
}
.special p:nth-child(2) {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.001em;
}

.txtbox input {
  background: #fff;
  color: #000;
}

/*------------------
検索セレクトボックス
---------------------*/
.select_wrap select {
  background: #fff;
  color: #000;
  padding-left: 5px;
  width: 40px;
}

/*------------------
タグ
---------------------*/
.tug {
  flex-flow: wrap;
  margin-top: 5px;
}
.tug li {
  width: 117px;
  color: #ff4cc0;
  background: #fff;
  text-align: center;
  color: #ff4cc0;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.001em;
  margin-bottom: 5px;
  padding: 5px;
}

/*------------------
タブ切り替え
---------------------*/
.tab {
  justify-content: start;
}
.tab li,
.tab h2 {
  width: 200px;
  background: #646464;
  border-bottom: 3px solid #000;
  text-align: center;
  padding: 4px;
  margin-right: 2px;
  cursor: pointer;
}
.tab li:hover,
.tab h2:hover {
  background: #000;
}
.tab li.active,
.tab h2.active {
  background: #000;
  border-bottom: 3px solid #ff4cc0;
}

.tabitem2,
.tabitem3 {
  display: none;
}

/*------------------
トップページ新人情報店舗リスト
---------------------*/
.shop-list-newface {
  margin-top: 10px;
  padding: 0px;
  flex-flow: wrap;
}
.shop-list-newface__col a {
  color: #646464;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.001em;
  display: block;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
  transition: color 0.2s 0.15s ease;
}
.shop-list-newface__col a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  border-bottom: 1px solid #ff9100;
  width: 100%;
  transition: 0.2s 0.15s ease;
  transform: scaleX(0);
}
.shop-list-newface__col a.active {
  color: #ff9100;
  border-bottom: 1px solid #ff9100;
  transition: none;
  transform: none;
}
.shop-list-newface__col a.active:hover {
  color: #ff9100;
  border-bottom: 1px solid #ff9100;
  transition: none;
}
.shop-list-newface__col a.active:hover::after {
  display: none;
}
.shop-list-newface__col a:hover {
  color: #ff9100;
}
.shop-list-newface__col a:hover::after {
  transform: scaleX(1);
}

.flex-newface {
  width: 555px;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-between;
}

/*------------------
店舗リスト
---------------------*/
.shop-list {
  margin-top: 40px;
  padding: 0 80px;
  flex-flow: wrap;
}
.shop-list--four {
  padding: 0 120px;
}
.shop-list__col a {
  color: #646464;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.001em;
  display: block;
  text-align: center;
  padding-bottom: 10px;
  position: relative;
  transition: color 0.2s 0.15s ease;
}
.shop-list__col a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  border-bottom: 1px solid #ff9100;
  width: 100%;
  transition: 0.2s 0.15s ease;
  transform: scaleX(0);
}
.shop-list__col a.active {
  color: #ff9100;
  border-bottom: 1px solid #ff9100;
  transition: none;
  transform: none;
}
.shop-list__col a.active:hover {
  color: #ff9100;
  border-bottom: 1px solid #ff9100;
  transition: none;
}
.shop-list__col a.active:hover::after {
  display: none;
}
.shop-list__col a:hover {
  color: #ff9100;
}
.shop-list__col a:hover::after {
  transform: scaleX(1);
}

/*------------------
見出し
---------------------*/
.block_ttl {
  background-color: #fff;
  background-image: url(../img/common/ttl_bg_01.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #ff9100;
  color: #000;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0em;
  padding: 7px 0 7px 10px;
  font-weight: normal;
}

/*------------------
下層ページ枠組み
---------------------*/
.page_wrap {
  border: solid 2px #fff;
  -o-border-image: url(../img/common/bd.png) 1 stretch;
     border-image: url(../img/common/bd.png) 1 stretch;
  padding-bottom: 20px;
}

.page {
  margin-top: 20px;
}

/*------------------
下層ページタイトル
---------------------*/
.page_ttl {
  width: 1200px;
  height: 50px;
  background: url("../img/common/ttl_bg_02.png") no-repeat;
  background-size: contain;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
  border: solid 2px #fff;
  -o-border-image: url(../img/common/bd.png) 1 stretch;
     border-image: url(../img/common/bd.png) 1 stretch;
}
.page_ttl h2 {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0em;
  padding-left: 157px;
}
.page_ttl span {
  position: absolute;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0em;
  right: 24px;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}

/*------------------
もっと見るボタン・ページャー
---------------------*/
.girl_more a {
  width: 1139px;
  background: #ff4cc0;
  color: #fff;
  display: block;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  transition: 0.4s;
}
.girl_more a:hover {
  color: #ff4cc0;
  background: #fff;
}

.review-page-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.review-page-nav li {
  margin-right: 8px;
}

.review-page-nav li.active a {
  background: #ff4cc0;
  color: #fff;
}

.review-page-nav li:last-child {
  margin-right: 0;
}

.review-page-nav a {
  display: block;
  border: 1px solid #ff4cc0;
  color: #ff4cc0;
  background-color: #000;
  padding: 7px 14px 5px 14px;
  font-weight: bold;
}

.review-page-nav a:hover {
  background: #ff4cc0;
  color: #fff;
}

/*------------------
もっと見るボタンハーフサイズ
---------------------*/
.top_more_btn_sub a {
  display: block;
  background: #ff9100;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.top_more_btn_sub a:hover {
  background: #fff;
  border: 1px solid #ff9100;
  color: #ff9100;
  font-weight: bold;
}

/*------------------
パンくず
---------------------*/
.bread {
  justify-content: start;
  margin-bottom: 10px;
}
.bread li {
  color: #fff;
}
.bread a {
  color: #ff9100;
  margin-right: 10px;
}
.bread span {
  padding-right: 10px;
}

/*------------------
新人情報
---------------------*/
.nf .blk01 {
  margin-right: 10px;
  width: 240px;
}
.nf .nf_col {
  margin-bottom: 10px;
  width: 570px;
  margin-right: auto;
  background-image: url("../img/common/bg_newface.png");
  background-size: contain;
  background-color: #fff;
  background-position: bottom;
  border: solid 3px #fff;
  -o-border-image: url(../img/common/bd.png) 1 stretch;
     border-image: url(../img/common/bd.png) 1 stretch;
  background-repeat: no-repeat;
  padding: 10px;
  position: relative;
}
.nf .nf_col .date {
  background: #ff4cc0;
  display: inline-block;
  padding: 6px 6px 5px;
  line-height: 1;
}
.nf .blk02 {
  width: 280px;
}
.nf .blk02 ul {
  align-items: center;
}
.nf .blk02 ul li:nth-child(1) {
  color: #fff;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.001em;
  background: #ff4cc0;
  display: inline-block;
  padding: 3px;
}
.nf .blk02 ul li:nth-child(2) {
  color: #000;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.001em;
  margin-top: 5px;
}
.nf .blk02 dl {
  border-bottom: 1px dashed #000;
  border-top: 1px dashed #000;
  align-items: baseline;
  flex-flow: column;
  margin-top: 10px;
  padding: 4px 0px 6px 0;
}
.nf .blk02 dl dt {
  color: #000;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.001em;
  font-weight: normal;
  margin-bottom: 3px;
  margin-top: 3px;
}
.nf .blk02 dl dd {
  color: #000;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.001em;
}
.nf .blk02 .cut_nf_txt {
  color: #000;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.001em;
  margin-top: 10px;
  position: relative;
  max-height: 5em;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* &::after {
    content: "...";
    line-height: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    color: #000;
    padding-top: 5px;
    width: 1em;
  } */
}
.nf .blk02 .cut_nf_txt img {
  display: none;
}
.nf .blk02 .cut_nf_txt * {
  color: #000 !important;
  font-size: 12px !important;
  line-height: 1.8 !important;
  letter-spacing: 0.001em !important;
  font-weight: normal !important;
}
.nf .blk02 .more {
  text-align: right;
}
.nf .blk02 .more a {
  color: #ff4cc0;
  margin-left: auto;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}
.nf .blk02 .more a:hover {
  text-decoration: underline;
}
.nf .blk02 .status_wrap {
  position: absolute;
  right: 10px;
  bottom: 13px;
  width: 190px;
}
.nf .blk02 .girl_shop {
  background: #ff9100;
  border-radius: 3px;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.001em;
  padding: 6px 5px;
  margin-top: 5px;
  margin-left: auto;
  text-align: center;
}

.nf_2col {
  padding: 24px;
  width: auto;
  border: solid 2px #fff;
  -o-border-image: url(../img/common/bd.png) 1 stretch;
     border-image: url(../img/common/bd.png) 1 stretch;
  margin-top: 0;
}

.outer {
  flex-flow: wrap;
}

/*------------------
ストーリー
---------------------*/
.story {
  width: 495px;
}
.story .story_wrap {
  background: #fff;
  border: 1px solid #ff9100;
  border-top: none;
  height: 2135px;
  overflow-y: scroll;
}
.story .pic_story {
  margin-right: 17px;
}
.story .pic_story img {
  width: 76px;
  height: 76px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
.story .story_col {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: solid 1px #fff;
  -o-border-image: url("../img/common/bd.png") 1 stretch;
     border-image: url("../img/common/bd.png") 1 stretch;
}
.story .date {
  color: #ff4cc0;
  text-align: right;
}
.story .content {
  color: #000;
}
.story .content img,
.story .content video {
  margin: 10px 0;
  max-width: 100%;
  min-width: 100%;
}
.story .pic_story {
  border: 2px solid #ff4cc0;
  border-radius: 100px;
}
.story .pic_story img {
  width: 74px;
  height: 74px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
  border: 3px solid #fff;
}
.story .icon_col {
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

/*------------------
リアルタイム
---------------------*/
.rt {
  margin-top: 40px;
}
.rt .rt_wrap {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.rt .shop-list {
  margin-bottom: 20px;
}
.rt .top_more_btn a {
  margin-top: 50px;
  margin-bottom: 57px;
  text-align: center;
  background: #fff;
  color: #000;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.001em;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff9100;
}
.rt .top_more_btn a:hover {
  background: #ff9100;
  color: #fff;
}

/*------------------
ランキング
---------------------*/
.rank {
  margin-top: 40px;
}
.rank .rank_tab ul {
  width: 1151px;
  margin-left: auto;
  margin-right: auto;
}
.rank .rank_tab ul li {
  border: 1px solid #fff;
  color: #666666;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin: 20px 0 30px;
  cursor: pointer;
  transition: all 0.2s;
}
.rank .rank_tab ul li:hover {
  background: #fff;
  color: #000;
  position: relative;
}
.rank .rank_tab ul li.active {
  background: #fff;
  color: #000;
  position: relative;
}
.rank .rank_tab ul li.active::after {
  content: "";
  position: absolute;
  top: 89%;
  left: 50%;
  margin-left: -13px;
  border: 13px solid transparent;
  border-top: 15px solid #fff;
}
.rank .rank_outer {
  border: solid 1px #fff;
  -o-border-image: url("../img/common/bd.png") 1 stretch;
     border-image: url("../img/common/bd.png") 1 stretch;
  padding-bottom: 60px;
}
.rank .rank_col {
  margin-top: 40px;
  background-color: #fff;
  width: 1151px;
  height: 538px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-image: url("../img/common/bg_ranking.png");
  background-size: 100%;
  border: solid 3px #fff;
  -o-border-image: url(../img/common/bd.png) 1 stretch;
     border-image: url(../img/common/bd.png) 1 stretch;
}
.rank .rank_col .blk01 {
  width: 365px;
}
.rank .rank_col .blk01 h3 {
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}
.rank .rank_col .blk01 h3 span:nth-child(1) {
  color: #ba272d;
  font-size: 25px;
  line-height: 1;
  letter-spacing: 0.001em;
  display: block;
}
.rank .rank_col .blk01 h3 span:nth-child(2) {
  color: #ba272d;
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0.001em;
}
.rank .rank_col .blk01 h3 span:nth-child(3) {
  color: #ba272d;
  font-size: 72px;
  line-height: 1;
  letter-spacing: 0.001em;
}
.rank .rank_col .blk01 h3 span:nth-child(4) {
  color: #ba272d;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.001em;
}
.rank .rank_col .blk01 h3 + ul {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #000;
  margin-bottom: 10px;
}
.rank .rank_col .blk01 h3 + ul li:nth-child(1) {
  color: #000;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.001em;
}
.rank .rank_col .blk01 h3 + ul li:nth-child(2) {
  color: #000;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.001em;
}
.rank .rank_col .blk01 .Reserv {
  color: #000;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.001em;
  width: 239px;
  height: 42px;
  display: none;
  justify-content: center;
  align-items: center;
  background: url("../img/common/bg_reserve.png") no-repeat;
  background-size: 100%;
}
.rank .rank_col .blk01 .Reserv a {
  width: 239px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rank .rank_col .blk01 h4 {
  color: #000;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.001em;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #000;
  padding: 6px;
  border-radius: 5px;
  width: 94px;
  text-align: center;
  position: relative;
  top: 5px;
  z-index: 0;
  margin-left: 10px;
}
.rank .rank_col .blk01 .sc_wrap {
  width: 260px;
  position: relative;
  z-index: 1;
}
.rank .rank_col .blk01 .sc_wrap li {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.001em;
  height: 25px;
}
.rank .rank_col .blk01 .sc_wrap li div:nth-child(1) {
  width: 112px;
  text-align: right;
}
.rank .rank_col .blk01 .sc_wrap li div:nth-child(2) {
  width: 145px;
  text-align: center;
}
.rank .rank_col .blk01 .sc_wrap li:nth-child(odd) {
  background: #373737;
}
.rank .rank_col .blk01 .sc_wrap li:nth-child(even) {
  background: #191919;
  height: 25px;
}
.rank .rank_col .blk01 .prof {
  color: #000;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.001em;
  width: 260px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/common/bg_prof.png") no-repeat;
  background-size: 100%;
  margin-top: 10px;
}
.rank .rank_col .blk01 .prof a {
  width: 260px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rank .rank_col .blk02 {
  width: 351px;
}
.rank .rank_col .blk02 .pic {
  position: relative;
}
.rank .rank_col .blk03 {
  width: 365px;
  background: #000;
  height: 494px;
  overflow-y: scroll;
  padding: 15px;
}
.rank .rank_col .blk03 .subpic {
  flex-flow: wrap;
}
.rank .rank_col .blk03 .subpic div {
  margin-bottom: 10px;
}
.rank .girl_icon_list {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 8px;
}
.rank .girl_icon_list li {
  margin-right: 5px;
}
.rank .rank_list {
  width: 1098px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  opacity: 0;
}
.rank .rank_list h3 {
  color: #ffc600;
  font-size: 44px;
  line-height: 1;
  letter-spacing: 0.001em;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}
.rank .rank_list h3 span {
  color: #ffc600;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.001em;
}
.rank .rank_list h3 + p {
  color: #fff;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.001em;
  width: 130px;
  transform: translateY(-4px);
}
.rank .rank_list div.flex {
  align-items: flex-end;
  margin-bottom: 5px;
}
.rank .rank_list ul {
  flex-flow: wrap;
  font-size: 10px;
}
.rank .rank_list .pic {
  cursor: pointer;
  transition: 0.2s;
}
.rank .rank_list .pic img {
  width: 100%;
}
.rank .rank_list .pic:hover {
  opacity: 0.7;
}
.rank .rank_list .size {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.001em;
  text-align: center;
  margin-top: 10px;
}
.rank .rank_wrap {
  position: relative;
}
.rank .tabitem1,
.rank .tabitem2,
.rank .tabitem3 {
  position: relative;
}
.rank .tabitem2,
.rank .tabitem3 {
  display: block;
  position: absolute;
  top: -99999px;
}
.rank .swiper-button-next:after,
.rank .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 26px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
  background: #ff9100;
  padding: 12px;
  color: #fff;
}
.rank .swiper-button-prev,
.rank .swiper-container-rtl .swiper-button-next {
  left: 35px;
  right: auto;
  bottom: 155px;
  top: auto;
}
.rank .swiper-button-next,
.rank .swiper-container-rtl .swiper-button-prev {
  right: 35px;
  left: auto;
  bottom: 155px;
  top: auto;
}
.rank .swiper-button-prev {
  opacity: 0;
}
.rank .swiper-button-next {
  opacity: 0;
}

/*------------------
ヘッダー
---------------------*/
.m_fixed {
  top: 0;
  position: fixed;
  z-index: 9999;
  width: 1200px;
}

.shop .m_fixed {
  padding-top: 40px;
  background: #000;
}

.h_tel {
  display: none;
}

.tel_fixed {
  display: block;
  position: fixed;
  top: 0;
  width: 1200px;
  z-index: 99999;
  text-align: right;
  transform: translateY(8px);
  font-size: 18px;
  font-weight: bold;
  color: #ff9100;
}

header .nav1 {
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
header .nav1 nav ul {
  width: 822px;
  justify-content: flex-end;
}
header .nav1 nav li a {
  color: #fff;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 46px;
  padding: 6px;
  text-align: center;
  background: #000000;
  border: 1px solid #ff9641;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
header .nav1 nav li a::after {
  background: url(../img/common/nav_bg_02_hover.png) no-repeat;
  height: 80px;
  position: absolute;
  top: -3px;
  left: -2px;
  content: "";
  width: 110%;
  background-size: contain;
  transform: scale(0, 1);
  z-index: -1;
}
header .nav1 nav li a:hover::after {
  transform: scale(1, 1);
  color: #201c19;
  font-size: medium;
}
header .nav1 nav .active {
  background: url(../img/common/nav_bg_02_hover.png) no-repeat;
  color: #ff8941;
}
header .nav1 nav li a:hover {
  color: #ff8941;
  font-size: medium;
  padding: 6px 0 4px;
}
header .nav2 ul {
  justify-content: space-between;
  flex-flow: wrap;
  border: 1px solid #ff9641;
}
header .nav2 ul li {
  width: 149px;
}
header .nav2 ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0em;
  width: 150px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  background: #000000;
  background-size: cover;
  border: 1px solid #ff9641;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
header .nav2 ul li a::after {
  background: url(../img/common/nav_bg_02_hover.png) no-repeat;
  height: 80px;
  position: absolute;
  top: -2px;
  left: -2px;
  content: "";
  width: 104%;
  background-size: contain;
  transform: scale(0, 1);
  z-index: -1;
}
header .nav2 ul li a:hover::after {
  transform: scale(1, 1);
  color: #201c19;
  font-size: large;
}
header .nav2 ul .active {
  color: #ff8941;
  background: url(../img/common/nav_bg_02_hover.png) no-repeat;
  background-size: cover;
}
header .nav2 ul li a:hover {
  color: #ff8941;
  font-size: large;
  padding: 6px 0 4px;
}
header .mypage-login {
  position: unset;
  text-align: right;
  padding-bottom: 20px;
}
header .mypage-login img {
  width: 7em;
}

.mypage-login {
  position: absolute;
  right: 47px;
}
.mypage-login img {
  width: 7em;
}

.loginbar {
  position: fixed;
  width: 1090px;
  top: 0px;
  transform: none;
  text-align: unset;
}

.group .nav2 li {
  width: 199px;
}
.group .nav2 li a {
  width: 101%;
}

/*------------------
フッター
---------------------*/
footer {
  margin-top: 90px;
  background: #000;
}
footer .bd_outer {
  border-radius: 16px 16px 0 0;
}
footer .bd_wrap {
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 16px 16px 0 0;
}
footer nav {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
}
footer nav li a {
  color: #fff;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.001em;
}
footer .f_nav_01 {
  /* &::after {
    content: "";
    display: block;
    width: 155px;
    text-align: center;
  } */
}
footer .f_nav_01 li {
  padding-left: 10px;
  border-left: 1px solid #fff;
  width: 155px;
  text-align: left;
}
footer .f_nav_01 li:first-child {
  text-align: left;
}
footer .f_nav_01 li:last-child {
  border-right: none;
}
footer .f_nav_02 {
  margin-top: 10px;
  justify-content: flex-start;
}
footer .f_nav_02 li {
  padding-left: 10px;
  border-left: 1px solid #fff;
  width: 155px;
  text-align: left;
}
footer .f_nav_02 li:first-child {
  text-align: left;
}
footer .f_nav_02 li:last-child {
  border-right: none;
}
footer .f_txt_01 {
  width: 426px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.001em;
  margin-top: 30px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  font-weight: bold;
}
footer .f_txt_02 {
  margin-top: 30px;
  color: #fff;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.001em;
  text-align: center;
}
footer .f_txt_02 a {
  color: #ff9100;
  transition: all 0.2s;
}
footer .f_txt_02 a:hover {
  text-decoration: underline;
}
footer .f_txt_03 {
  color: #fff;
  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 0.001em;
  margin-left: 60px;
  margin-top: 70px;
}
footer .copy {
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.001em;
}

.all-show {
  display: block;
}

.new {
  display: block;
}

.new2 {
  display: block;
}

ul.paging::after {
  content: "";
  display: block;
  clear: both;
}

ul.paging > li {
  float: left;
}

ul.paging > li > * {
  margin: 2px;
  padding: 3px 0;
  display: block;
  /*color: #000;*/
  text-decoration: none;
}

ul.paging > li > a,
ul.paging > li > .active,
ul.paging > li > [data-page] {
  padding: 7px 14px 5px 14px;
  border: 1px solid #ff4cc0;
  /*border-radius: 5px;*/
}

ul.paging > li > .active {
  background-color: #ff4cc0;
}

ul.paging > li > [data-page] {
  cursor: pointer;
}

footer {
  /* 下矢印 */
  /* floatクリア */
}
footer .menu > li.menu__single {
  position: relative;
}
footer li.menu__single ul.menu__second-level {
  position: absolute;
  top: 24px;
  width: 100%;
  background: transparent;
  transition: all 0.2s ease;
}
footer li.menu__single:hover ul.menu__second-level {
  top: 24px;
  visibility: visible;
  opacity: 1;
}
footer .menu {
  position: relative;
  width: 100%;
  height: 24px;
  padding-bottom: 230px;
  max-width: 1000px;
  margin: 0 auto;
}
footer .menu > li {
  float: left;
  width: 20%;
  height: 24px;
  line-height: 24px;
  background: transparent;
  text-align: center;
  border-right: 1px solid #c1c1c1;
}
footer .menu > li:first-of-type {
  border-left: 1px solid #c1c1c1;
}
footer .menu > li a {
  display: block;
  color: #FFFFFF;
  line-height: 24px;
}
footer .menu > li a:hover {
  color: #ff9100;
}
footer ul.menu__second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
footer ul.menu__third-level {
  visibility: hidden;
  opacity: 0;
}
footer ul.menu__fourth-level {
  visibility: hidden;
  opacity: 0;
}
footer .menu > li:hover {
  background: transparent;
  transition: all 0.5s;
}
footer .menu__second-level li {
  font-weight: 400;
  margin: 8px auto 8px auto;
}
footer .menu__second-level li:first-of-type {
  margin-top: 20px;
  margin-bottom: 8px;
}
footer .menu__second-level li a:hover {
  background: transparent;
}
footer .menu__third-level li a:hover {
  background: transparent;
}
footer .menu__fourth-level li a:hover {
  background: transparent;
}
footer .init-bottom:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 3px 9px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
}
footer .menu:before,
footer .menu:after {
  content: " ";
  display: table;
}
footer .menu:after {
  clear: both;
}
footer .menu {
  *zoom: 1;
}/*# sourceMappingURL=base.css.map */