@import "mixin";

.page_column {
	.page_wrap {
		padding-bottom: 0;
	}

	.column_wrap {
		width: 900px;
		@include center;
		padding: 40px 0;

		h3 {
			background: $pink;
			margin: auto;
			padding: 10px 20px;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 20px;
		}
	}
}

.page_column_single {
	p {
		/* margin-top: 20px; */
		margin-top: 0;
		line-height: 1.8;
		font-size: rem(16px);
		position: relative;
		text-align: justify;
		display: inline-block;
		width: 49%;
		vertical-align: top;
	}

	img {
		width: 50% !important;
		height: auto !important;
	}
}

.page_column_archive {
	.page_wrap {
		padding-bottom: 20px;
	}

	.column_wrap {
		padding-bottom: 0px;
	}

	.review-page-nav {
		margin-top: 40px;
	}

	ul {
		li {

			/* margin-top: 40px; */
			.active {
				margin-top: 10px;
			}

			&:nth-child(1) {
				margin-top: 0;
			}

			h3 {
				display: flex;
				justify-content: space-between;
			}

			p {
				margin-top: 20px;
				line-height: 1.8;
				font-size: 16px;
				max-height: 5em;
				position: relative;
				text-align: justify;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;

				//途中で文字隠し
				/* &::after {
					content: "...";
					line-height: 1;
					position: absolute;
					right: 0;
					bottom: 0;
					background: #000;
					color: white;
					padding-top: 5px;
				} */
			}

			img {
				display: none;
			}

			a {
				color: $pink;
				text-align: right;
				display: block;
				margin-top: 10px;
			}
		}
	}
}

.cut_column_txt {
	margin-top: 20px;
	line-height: 1.8;
	font-size: 16px;
	max-height: 5em;
	position: relative;
	text-align: justify;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}