@import "mixin";

.page_mm {

  .mm_col {
    width: 1010px;
    margin: 10px auto 20px auto;
    border: 1px #FF238F solid;

    h3 {
      background: #FF238F;
    }

    span {
      width: 250px;
      margin: 2px 0px 2px 2px;
      padding: 8px 10px 9px 10px;
      display: inline-block;
      background: #000;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      color: #FFF;
    }

    p {
      margin: 20px;
      @include txt(#fff, 15px, 1.5, 0em);
    }

    select {
      width: 200px;
      font-size: 14px;
      background: #fff;
      color: #000;
      height: 22px;
    }

    .submit {
      margin: 0px auto 30px;
      font-size: 110%;
      text-align: center;
      color: #fff;

      input {
        width: auto;
        cursor: pointer;
        background: #ff00a6;
        padding: 7px 50px;
        color: #FFF;
        border: none;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        line-height: 1;
        font-size: 15px;
        width: 325px;
      }
    }
  }

  #p1 {
    margin-top: -100px;
    padding-top: 100px;
  }

  .group_shukkin {
    .submit {
      a {
        display: block;
        cursor: pointer;
        background: #ff00a6;
        padding: 7px 50px;
        color: #FFF;
        border: none;
        border-radius: 8px;
        line-height: 1;
        font-size: 15px;
        width: 360px;
        @include center;
      }
    }
  }

  table {
    margin: 0px 40px 20px 40px;
    table-layout: fixed;
    border-top: 1px #88878b solid;
    border-left: 1px #88878b solid;
  }

  table th,
  table td {
    padding: 10px;
    border-bottom: 1px #88878b solid;
    border-right: 1px #88878b solid;
  }

  table th {
    width: 200px;
    color: #fff;
  }

  table td label {
    display: inline-block;
    width: 160px;
    color: #fff;
  }

  table td input {
    margin-right: 3px;
    background: #fff;
    color: #000;
  }

  .input_mail {
    width: 400px;
  }

  /* 出勤メルマガ */
  .section_check img,
  .section_list img {
    float: left;
    display: inline;
    padding-right: 20px;
  }

  /* 登録確認画面 */
  .section_check table {
    margin: 0 auto 20px;
    width: 800px;
  }

  .section_check table th,
  .section_check table td {
    padding: 20px;
    vertical-align: middle;
  }

  .section_check table th {
    text-align: center;
  }

  .section_check table td span {
    padding-left: 20px;
  }

  /* 登録完了画面 */
  .section_add p {
    text-align: center;
  }

  /* 解除確認画面 */
  .section_list table td span {
    display: inline-block;
    padding-top: 15px;
  }

}