@import "mixin";

.page_review {
  .review_wrap {
    padding: 20px 20px 0 20px;
  }

  .review-rate {
    display: flex;
    align-items: center;

    span {
      display: block;
    }

    .review-star {
      line-height: 0;
      transform: translateY(-1px);
    }
  }

  .review_col {
    margin-bottom: 40px;

    .inner_01 {
      padding-bottom: 10px;
      border-bottom: 1px dashed #fff;
      margin-bottom: 16px;
      align-items: flex-end;

      .count {
        color: #F8C340;
        font-weight: bold;
        font-size: 16px;

        span {
          font-size: 22px;
        }
      }
    }
  }

  .review_col:last-child {
    margin-bottom: 0;
  }

  .review_col:nth-last-child(2) {
    margin-bottom: 0;
  }

  .shop-list {
    margin-bottom: 20px;
  }

  .review_wrap>.flex {
    // padding: 20px;
    flex-flow: wrap;
  }

  .girl_shop {
    background: #ff9100;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.001em;
    padding: 6px 5px;
    width: 240px;
    text-align: center;
  }

  .blk01 {
    width: 240px;
    margin-right: 16px;

    .pic {
      width: 240px;

      img {
        max-width: 100%;
      }
    }

    .status {
      background: #ff4cc0;
      width: 240px;
      font-size: 14px;
      padding: 2px 5px;
      text-align: center;
      border-radius: 3px;
      display: block;
      margin-top: 10px;
      min-height: 48px;
      height: 50px;

      span:nth-child(2) {
        width: 100%;
        margin-top: 2px;
      }
    }
  }

  .status_01 {
    span:nth-child(1) {
      font-size: 18px;
      width: 100%;
      min-height: 100%;
      display: block;
      color: #ff4cc0;
      padding: 5px 0;
      line-height: 1;
      background: #fff;
      font-weight: bold;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .blk02 {
    width: 300px;
    height: 449px;
    overflow: scroll;

    .review_col {
      border-bottom: 1px solid #828282;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .review-text {
      margin: 14px 0;
      font-size: 14px;
      letter-spacing: 0;
    }

  }

  .btn_profile a {
    background: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid $orange;
    margin-top: 10px;
    display: block;
  }

  .btn_profile a:hover {
    background: $orange;
    color: #fff;
  }


}