@import "mixin";

.page_system {
  .swiper-container {
    width: 304px;
    padding-bottom: 50px;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #fff;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
  }

  .system_wrap {
    .system_col {
      border: solid 2px transparent;
      border-image: url(../img/common/bd.png) 1 stretch;
    }

    .wrap_01 {
      padding: 60px 100px 50px;

      h3{
        background: #FFA100;
        color: #fff;
        padding: 8px 17px;
        text-align: center;
        font-size: 18px;
        margin-bottom: 30px;
      }

      .blk01 {

        dl {
          margin-bottom: 40px;
          border-bottom: 2px solid #FFA100;
          border-right: 2px solid #FFA100;
          font-size: 18px;


          >div {
            background:#323232 ;
            align-items: center;
            border-left: 2px solid #FFA100;
            border-top: 2px solid #FFA100;
          }
          span{
            font-size: 14px;
            color: #fff;
            display: block;
            text-align: center;
            p{
              a{
                color: #eea623;
                text-decoration: underline!important;
              }
            }

          }

          dt {
            padding: 10px;
            width: 300px;
            font-weight: lighter;
            color: #fff;
            text-align: center;
            background:#000 ;
            border-right:2px solid #FFA100 ;
          }

          dd {
            width: 300px;
            text-align: center;
            color: #fff;
          }
        }
        .card{
          text-align: center;
        }
      }

      .blk02 {
        dl {
          align-items: center;
          font-size: 18px;
          color: #fff;
          dt,
          dd {
            font-weight: normal;
          }
        }
      }
    }

    .wrap_02 {
      padding: 0 100px 50px;

      .blk01 {
        width: 100%;

        h3 {
          font-size: 24px;
          letter-spacing: 0;
          text-align: center;
        }

        dl {
          margin-left: 10px;
        }

        dt,
        dd {
          font-size: 34px;
        }

        h3+p {
          font-size: 24px;
          letter-spacing: 0;
          margin-bottom: 10px;
          text-align: center;
        }


        table{
          width: 100%;
          th{
            text-align: center;
          }
          td{
            padding: 0.5em 0;
            text-align: center;
            width: 50%;
          }

          thead{
            tr{
              font-size: 20px;
              h3{
                font-size: 24px;
                letter-spacing: 0;
              }
            }
          }
          thead:after {
            content: "";
            height: 0.5em;
            width: 100%;
            padding: 2px 0;
            display: block;
          }
          tbody{
            tr{
              border: 1px solid;

              td:first-child{
                background: #ffa1008a;
                color: #fff;
              }
            }

          }
        }

        .price_01{
          color: #FFA100;
          padding: 1em;
          width: 100%;
          td:first-child{
            background: #ffa1008a;
            color: #fff;
          }
        }

        .price_02 {
          margin-top: 60px;

          color: #FF2F98;
          td:first-child{
            background: #FF2F988a;
            color: #fff;
          }
             }

        .price_03 {
          margin-top: 60px;

          color: #2586FF;

          td:first-child{
            background: #2586FF8a;
            color: #fff;
          }

            }

        p.alert {
          font-size: 22px;
          white-space: nowrap;
          letter-spacing: 0;
          line-height: 1.6;
          margin-top: 260px;
        }
      }

      .blk02 {
        margin-top: 4em;
        width: 100%;
        padding: 34px;
        border: solid 2px transparent;
        border-image: url(../img/common/bd.png) 1 stretch;

        &__option{
          background: #FFA100;
          color: #fff;
          padding: 2px 0;
          text-align: center;
          margin-bottom: 1em;
          font-size: 1.5em;
          font-weight: bold;
        }

        .flex {
          justify-content: flex-start;
          flex-flow: wrap;
          gap: 5.7%;
          li {
            margin-bottom: 30px;
            width: 191px;
          }
        }

        h3 {
          background: #FFA100;
          font-size: 20px;
          letter-spacing: 0;
          text-align: center;
          margin-bottom: 8px;
        }

        .txt {
          text-align: center;
          font-size: 20px;
        }

      }
    }

  }
}

//追加

.half-heart {
  position: relative;
  margin-left: 10px;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 12px;
    width: 12px;
    height: 30px;
    background: #000;
  }
}

.dd-small {
  font-size: 20px;
}

.dd-pink {
  padding: 5px;
  background-color: #FF2F98;
  color: #fff;
  border-radius: 5px;
}

.fuyo {
  position: relative;

  &::before {
    position: absolute;
    content: '付与';
    font-size: 20px;
    top: -40px;
    left: 23px;
    color: #FF2F98;
  }
}

.dd-yellow {
  padding: 5px;
  background-color: #FFA100;
  color: #fff;
  border-radius: 5px;
}

.dd-blue {
  padding: 5px;
  background-color: #2586FF;
  color: #fff;
  border-radius: 5px;
}

.heart {
  width: 20px;
  height: 20px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 4px;
}

.halfheart {
  width: 20px;
  height: 20px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: -5px;
}

.pic {
  width: 191px;
  height: 119px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.system-btn-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.system-prev,
.system-next {
  width: 24px;
}
