// 女の子一覧
.girls {
  .section-title {
    margin-bottom: 20rem;
    @include pc {
      margin-bottom: 0;
    }
  }

  .search-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0 10rem;
    background-color: $c_pink;
    color: #fff;
    font-size: 32rem;
    text-align: center;
  }

  .search-icon {
    margin-left: 16rem;
    height: 36rem;
  }


  .girl-search {
    transition: height 0.2s ease;
    /* margin-bottom: 32rem; */
    @include pc {
      max-width: 1200px;
      margin: 0 auto;
    }

    @include pc {
      .search-form {
        display: grid;
        max-width: 1200px;
        width: 100%;
        gap: 10rem 10rem;
        grid-template-columns: 0.3fr 1fr 0.3fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: start;
        align-items: center;
        grid-template-areas:
                  "name name-input tall tall-input"
                  "age  age-input bust bust-input";

        .label {
          padding: 4rem 8rem;
        }
      }

      :first-child {
        grid-area: name;
      }
      :nth-child(2) {
        grid-area: name-input;
      }
      :nth-child(3) {
        grid-area: tall;
      }
      :nth-child(4) {
        grid-area: tall-input;
      }
      :nth-child(5) {
        grid-area: age;
      }
      :nth-child(6) {
        grid-area: age-input;
      }
      :nth-child(7) {
        grid-area: bust;
      }
      :nth-child(8) {
        grid-area: bust-input;
      }

    }

    .filter {
      display: flex;
      align-items: center;
      background-color: rgba($color: #000000, $alpha: 0);
      border: none;
      border-width: 1rem 0;
      font-size: 32rem;
      margin-bottom: 0;
      @include pc {
        font-size: 9rem;
      }

      .title {
        padding: 0 16rem;
        white-space: nowrap;
      }

      .filter-list {
        display: flex;
        flex-direction: column;
        background-color: rgba($color: #000000, $alpha: 0);
        padding: 24rem 16rem;
        @include pc {
          flex-direction: row;
          padding: 0 0 10rem 0;
        }
      }
    }

    .label {
      padding: 4rem 20rem;
      background-color: $c_pink;
      font-size: 28rem;
      @include pc {
        padding: 0 20rem;
        font-size: 9rem;
      }
    }

    .input-area {
      display: flex;
      padding: 20rem;
      justify-content: space-between;
      @include pc {
        padding: 0;
        font-size: 11rem;
        justify-content: flex-start;
        align-items: center;
        gap: 10rem;
      }
    }

    input[type="text"],
    select {
      /* width: 70%; */
      width: 67vw;
      font-size: 24rem;
      @include pc {
        width: 180rem;
        font-size: 9rem;
      }
    }

    input[name="data[Search][name]"] {
      @include pc {
        width: 255rem;
      }
    }

    .ltgt {
      width: 25%;
    }

    .button-more {
      margin-top: 32rem;
      font-size: 28rem;
      @include pc {
        margin-top: 10rem;
        font-size: 10rem;
        width: 123rem;
      }
    }
  }

  .open + .girl-search {
    height: 680rem;
  }

  .extend {
    margin-bottom: 48rem;
  }

  .filter {
    border-top: 1px solid $c_pink;
  }
}