// 女の子一覧
.girls {
  .section-title {
    margin-bottom: 20rem;
  }

  .search-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0 10rem;
    background-color: $c_pink;
    color: #fff;
    font-size: 32rem;
    text-align: center;
  }

  .search-icon {
    margin-left: 16rem;
    height: 36rem;
  }


  .girl-search {
    transition: height 0.2s ease;
    /* margin-bottom: 32rem; */
    @include pc {
      max-width: 1200px;
      margin: 0 auto;
    }

    .filter {
      display: flex;
      align-items: center;
      background-color: rgba($color: #000000, $alpha: 0);
      border: none;
      border-width: 1rem 0;
      font-size: 32rem;
      margin-bottom: 0;
      @include pc {
        font-size: 12rem;
      }

      .title {
        padding: 0 16rem;
        white-space: nowrap;
      }

      .filter-list {
        display: flex;
        flex-direction: column;
        background-color: rgba($color: #000000, $alpha: 0);
        padding: 24rem 16rem;
        @include pc {
          flex-direction: row;
          padding: 14rem 0 20rem 0;
        }
      }
    }

    .label {
      padding: 4rem 20rem;
      background-color: $c_pink;
      font-size: 28rem;
      @include pc {
        padding: 0 20rem;
        font-size: 12rem;
      }
    }

    .input-area {
      display: flex;
      padding: 20rem;
      justify-content: space-between;
      @include pc {
        padding: 14rem 0 20rem 0;
        font-size: 11rem;
      }
    }

    input[type="text"],
    select {
      /* width: 70%; */
      width: 67vw;
      font-size: 24rem;
      @include pc {
        width: 30vw;
        font-size: 11rem;
      }
    }

    .ltgt {
      width: 25%;
    }

    .button-more {
      margin-top: 32rem;
      font-size: 28rem;
      @include pc {
        margin-top: 18rem;
        font-size: 13rem;
        width: 123rem;
      }
    }
  }

  .open + .girl-search {
    height: 680rem;
  }

  .extend {
    margin-bottom: 48rem;
  }

  .filter {
    border-top: 1px solid $c_pink;
  }
}