// メールマガジン
.mailmagazine {
  @include pc {
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-title {
    margin-bottom: 20rem;
  }

  &-block {
    margin-right: 20rem;
    margin-left: 20rem;
    margin-bottom: 32rem;
    padding-bottom: 16rem;
    border: 1rem solid $c_pink;
    background-color: #231815;

    &-title {
      margin-bottom: 20rem;
      padding: 4rem 16rem;
      background-color: $c_pink;
      font-size: 28rem;
      @include pc {
        font-size: 12rem;
      }
    }
  }

  .process {
    padding: 0 40rem;
    font-size: 28rem;
    @include pc {
      font-size: 12rem;
    }
  }

  .button-more {
    margin-top: 32rem;
    margin-bottom: 32rem;
    font-size: 30rem;
    @include pc {
      font-size: 11rem;
    }
  }

  .form-layout {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20rem;
    margin-left: 40rem;
    margin-right: 40rem;
    border: 1rem solid #88878b;
    font-size: 26rem;
    @include pc {
      font-size: 12rem;
    }

    .label {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 8rem;
      width: 40%;
      border-right: 1rem solid #88878b;
      text-align: center;

      &:not(:last-of-type) {
        border-bottom: 1rem solid #88878b;
      }
    }

    .input-area {
      display: flex;
      flex-wrap: wrap;
      padding: 16rem;
      width: 60%;

      &:not(:last-of-type) {
        border-bottom: 1rem solid #88878b;
      }

      input[type="text"], input[type="email"],
      select {
        padding: 4rem 8rem;
        width: 100%;
        background-color: #fff;
        @include pc {
          font-size: 9rem;
        }
      }
    }

    .label-for-mark {
      display: flex;
      align-items: center;
    }

    .deny-hour .checkbox {
      width: 100%;
      margin-bottom: 8rem;
    }

    .deny-day .checkbox {
      width: 32%;
    }
  }

  &-form {
    &-confirm {
      display: flex;
      flex-wrap: wrap;
      margin-left: 40rem;
      margin-right: 40rem;
      border: 1rem solid #88878b;
      font-size: 24rem;
      @include pc {
        font-size: 12rem;
      }

      dt {
        padding: 16rem;
        border-right: 1rem solid #88878b;
        width: 48%;

        &:not(:last-of-type) {
          border-bottom: 1rem solid #88878b;
        }
      }

      dd {
        padding: 16rem;
        width: 52%;

        &:not(:last-of-type) {
          border-bottom: 1rem solid #88878b;
        }
      }

      .girl-icon {
        margin-right: 16rem;
        width: 128rem;
        height: 128rem;
        border-radius: 50%;
        vertical-align: middle;
      }
    }

    &-complete {
      padding: 0 40rem;
      font-size: 24rem;
      text-align: center;
      @include pc {
        font-size: 12rem;
      }
    }
  }

  .mm-error {
    color: red;
    font-size: 11px;
  }

  .status-girl {
    margin-bottom: 20px;
  }
}

/////////////////以下旧サイトから引用


.content-box {
  width: 100%;
  margin: 10px auto 20px auto;
  // border: 1px #FF238F solid;
  font-size: 90%;
  overflow: hidden;
}

.content-box p {
  margin: 20px 0;
}

.content-box table {
  margin: 0px auto;
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;

  td {
    padding: 10px;
    border: 1px solid #88878b;
  }

  // border-top: 1px #88878b solid;
  // border-left: 1px #88878b solid;
}

.content-box table th,
.content-box table td {
  padding: 10px;
  // border-bottom: 1px #88878b solid;
  // border-right: 1px #88878b solid;
}

.content-box table th {
  width: 130px;
}

.content-box tr {
  border: 1px solid #88878b;
}

.content-box table td label {
  display: inline-block;
  padding: 4px 20px 4px 0;
}

.content-box table td input {
  width: 100%;
  margin-right: 3px;
}

.content-box .submit {
  margin: 0px auto 30px;
  font-size: 110%;
  display: block;
  text-align: center;
}

/* サブタイトル */
.content-box h1 {
  margin: 0% 0 0 0%;
  background: #FF238F;
}

.content-box h1 span {
  width: 59%;
  margin: 2px 0px 4px 10px;
  padding: 4px 10px 6px 10px;

  font-size: 1.5rem;
}

.content-box h3 {
  margin: 0% 0 0 0%;
  background: #FF238F;
}

.content-box h3 span {
  width: 59%;
  margin: 2px 0px 4px 10px;
  padding: 4px 10px 6px 10px;

  font-size: 1.5rem;
}

.sub-attend {
  display: inline-block;
  background: #000;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFF;
}

/* サブタイトル */

/* h25_1228追加 */
#contenter .section .submit input,
#contenter .section .submit a {
  background: #ff00a6 none repeat scroll 0 0;
  border: medium none;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding: 7px 50px;
  text-align: center;
  width: 340px;
  margin: 0 auto;
}