// 梅田
.umeda-bg {

  // background-image: url(../img/shop-entrance/umeda-bg-sp.jpg);
  // background-size: cover;
  // background-position: 50%;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    // z-index: -1;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-image: url(../img/shop-entrance/umeda-bg-sp.jpg);
    background-size: cover;
  }
}

// 日本橋
.nippon-bg {

  // background-image: url(../img/shop-entrance/nippon-bg-sp.jpg);
  // background-size: cover;
  // background-position: 50%;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  @include pc {
    background-color: #fff;
    //background-image: url(../img/shop-entrance/nippon-bg-sp.jpg) ;
    //background-color:rgba(255,255,255,0.8);
    //background-blend-mode:lighten;
  }

  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    // z-index: -1;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-image: url(../img/shop-entrance/nippon-bg-sp.jpg);
    background-size: cover;
    @include pc {
      background-image: url(../../img/shop-entrance/nippon-entrance-bg.jpg);
      background-size: 100% auto;
      background-position: top;
    }
  }
}

// 難波
.namba-bg {

  // background-image: url(../img/shop-entrance/namba-bg-sp.jpg);
  // background-size: cover;
  // background-position: 50%;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    // z-index: -1;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-image: url(../img/shop-entrance/namba-bg-sp.jpg);
    background-size: cover;
  }
}

// 京橋
.kyoubashi-bg {

  // background-image: url(../img/shop-entrance/kyoubashi-bg-sp.jpg);
  // background-size: cover;
  // background-position: 50%;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    // z-index: -1;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-image: url(../img/shop-entrance/kyoubashi-bg-sp.jpg);
    background-size: cover;
  }
}

.shop-entrance {
  width: 100%;
  height: 100vh;
  position: relative;
  @include pc {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  &__desc {
    width: 100%;
    position: absolute;
    top: calc(15vw / (375 / 100));
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(15vw / (375 / 100));
    color: #fd1c8b;
    text-align: center;
    padding: calc(0vw / (375 / 100)) 0;
    font-family: 'ヒラギノ明朝 Pro W3',
    'Hiragino Mincho Pro',
    '游明朝',
    'Yu Mincho',
    '游明朝体',
    'YuMincho',
    'ＭＳ Ｐ明朝',
    'MS PMincho',
    serif;
    @include pc {
      top: 2vw;
      font-size: 12rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: calc(40vw / (375 / 100));
      background-color: #fff;
      filter: blur(7px);
      z-index: -1;
      @include pc {
        height: 2vw;
      }
    }
  }

  .umeda-toptext {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @include pc {
      top: 60% !important;
    }

    &__heading {
      margin: 0 auto;
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        top: calc(61vw / (375 / 100));
        right: 0;
        background-image: url(../img/shop-entrance/shop-entrance-design.png);
        display: inline-block;
        background-repeat: no-repeat;
        width: calc(60vw / (375 / 100));
        height: calc(90vw / (375 / 100));
        background-size: contain;
        vertical-align: middle;

      }
    }
  }

  .nippon-toptext {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @include pc {
      top: 60% !important;
    }

    &__heading {
      margin: 0 auto;
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        top: calc(48vw / (375 / 100));
        right: 0;
        background-image: url(../img/shop-entrance/shop-entrance-design.png);
        display: inline-block;
        background-repeat: no-repeat;
        width: calc(60vw / (375 / 100));
        height: calc(90vw / (375 / 100));
        background-size: contain;
        vertical-align: middle;
        @include pc {
          top: 57rem;
          right: 136rem;
          width: 65rem;
          height: 87rem;
        }
      }
    }
  }

  .namba-toptext {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @include pc {
      top: 60% !important;
    }

    &__heading {
      margin: 0 auto;
      width: 95%;
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        top: calc(52vw / (375 / 100));
        right: 0;
        background-image: url(../img/shop-entrance/shop-entrance-design.png);
        display: inline-block;
        background-repeat: no-repeat;
        width: calc(60vw / (375 / 100));
        height: calc(90vw / (375 / 100));
        background-size: contain;
        vertical-align: middle;
      }
    }
  }

  .kyoubashi-toptext {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @include pc {
      top: 60% !important;
    }

    &__heading {
      margin: 0 auto;
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        top: calc(49vw / (375 / 100));
        right: 0;
        background-image: url(../img/shop-entrance/shop-entrance-design.png);
        display: inline-block;
        background-repeat: no-repeat;
        width: calc(60vw / (375 / 100));
        height: calc(90vw / (375 / 100));
        background-size: contain;
        vertical-align: middle;
      }
    }
  }

  &__small {
    font-size: calc(10vw / (375 / 100));
    color: #fd1c8b;
    text-align: center;
    display: block;
    letter-spacing: -0.02em;
    @include pc {
      font-size: 12rem;
    }


    span {
      display: block;
    }
  }

  &__btn {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: calc(12vw / (375 / 100)) 0 calc(25vw / (375 / 100));

    @include pc {
      width: 35%;
    }

    a {
      img {
        filter: drop-shadow(1px 1px 5px #aaa);
      }
    }
  }

  &__exit {
    width: 100%;
    position: absolute;
    bottom: calc(20vw / (375 / 100));
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(12vw / (375 / 100));
    color: #535353;
    text-align: center;
    letter-spacing: 0.01em;
    @include pc {
      font-size: 12rem;
    }

    a {
      position: relative;
      font-size: calc(14vw / (375 / 100));
      color: #535353;
      letter-spacing: -1px;
      font-weight: 500;
      @include pc {
        font-size: 12rem;
      }

      &::after {
        position: absolute;
        content: '';
        bottom: calc(2vw / (375 / 100));
        left: 0;
        width: calc(27vw / (375 / 100));
        height: 1px;
        background-color: #000;
        @include pc {
          bottom: 0vw;
          left: -0.2vw;
          width: 2vw;
        }
      }

      &:hover {
        opacity: .8;
      }
    }
  }
}

.entrance-banner {
  background-color: rgba(0, 0, 0, .8);
  position: relative;
  z-index: 10;

  &__box {
    padding: calc(20vw / (375 / 100));
    text-align: center;

    div {
      padding: calc(5vw / (375 / 100)) 0;
    }
  }

  &__form {
    margin-right: 20rem;
    margin-bottom: 48rem;
    margin-left: 20rem;
    padding: 1px;
    background-image: linear-gradient(45deg, #a96a2f 21%, #54341d 44%, #bd884d 54%, #674d25 65%);
    @include pc {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &__wrap {
    background-color: #000;
    padding: 48rem 48rem;
    @include pc {
      padding: 20rem 40rem;
    }

    .detailed {
      font-size: 22rem;
      text-align: justify;
      line-height: 1.5;
      @include pc {
        font-size: 11rem;
      }

      dd {
        margin-bottom: 10px;
      }
    }

    .banner {
      dt {
        font-size: 30rem;
        @include pc {
          font-size: 12rem;
        }
      }
    }
  }

  &__text {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22rem;
    @include pc {
      font-size: 10rem;
    }
  }

  .tx_right {
    font-size: 22rem;
    @include pc {
      font-size: 8rem;
    }
  }

  table {
    width: 100%;

    tr {
      display: block;
      margin-bottom: 64rem;
      @include pc {
        margin-bottom: 24rem;
      }
    }

    th {
      text-align: left;
      display: block;

      label {
        display: block;
        margin-bottom: 8rem;
        color: #fff;
        font-size: 24rem;
        @include pc {
          margin-bottom: 2rem;
          font-size: 10rem;
        }
      }
    }

    td {
      display: block;

      input {
        width: 100%;
        line-height: 56rem;
        padding: 4rem 16rem;
        font-size: 30rem;
        @include pc {
          font-size: 10rem;
          line-height: 13rem;
          padding: 4rem 8rem;
        }
      }
    }
  }

  .submit {
    text-align: center;

    input {
      -webkit-appearance: none;
      margin-top: 16rem;
      width: 464rem;
      background-color: #ff009c;
      border-radius: 6rem;
      color: #fff;
      font-size: 35rem;
      line-height: 96rem;
      @include pc {
        font-size: 10rem;
        width: 200rem;
        line-height: 30rem;
      }
    }
  }
}

.links-box {
  display: flex;
  flex-direction: column;
  margin-right: 20rem;
  padding-bottom: 48rem;
  margin-left: 20rem;
  @include pc {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .vanilla {
    order: 1;

    p {
      text-align: left !important;
    }
  }

  h2 {
    font-size: 30rem;
    margin: 8rem 0;
    @include pc {
      font-size: 9rem;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    &:nth-of-type(2) {
      order: 2;
    }
  }
}

.entrance-footer {
  background-color: #000;
  text-align: center;
  margin-top: 0;
  position: relative;
  z-index: 10;

  p {
    padding: 25px 0;
    color: #fff;
    font-size: 11px;
    @include pc {
      font-size: 12rem;
    }
  }
}