// トップページ・ストーリーズ
.top-stories {
  overflow-x: hidden;
  background-color: #000;

  &-title {
    display: none;
    @include pc {
      display: none;
    }
  }

  &.fixed {
    &.group {
      height: 359rem;
    }

    &.shop {
      height: 318rem;
    }

    .top-stories-list {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 101;
      padding: 16rem 16rem;
      border-bottom: 1rem solid $c_pink;
      width: 100%;
      max-width: 1280px;

      @include pc {
        max-width: 100%;
        padding: 8rem 16rem;
      }


      @media screen and (min-width: 80em) {
        left: calc((100% - 1280px) / 2);
        @include pc {
          left: 0;
        }
      }

      .top-stories-name,
      .top-stories-shop {
        display: none;
      }
    }
  }

  // リスト表示
  &-list {
    display: flex;
    padding: 32rem 16rem;
    background-color: #333;
    overflow-x: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    transition: padding 0.3s ease;

    @include pc {
      padding: 5rem 23rem;
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #7b7b7b;
      }
      &::-webkit-scrollbar {
        background: #000;
        width: 5px;
        height: 8px;
      }
    }

    &::after {
      content: "";
      padding-right: 16rem;
    }
  }

  &-link {
    margin-right: 48rem;
    @include pc {
      margin-right: 35rem;
    }
  }

  &-shop {
    display: block;
    margin-bottom: 8rem;
    font-size: 22rem;
    @include pc {
      font-size: 8rem;
      margin-bottom: 3rem;
    }
  }

  &-icon {
    margin-bottom: 8rem;
    padding: 4rem;
    width: 128rem;
    height: 128rem;
    border-radius: 50%;
    background-image: linear-gradient(to right, #ea5902 0%, #d5000f 69%, #d40077 100%);
    @include pc {
      margin-bottom: -7rem;
      width: 35rem;
      height: 35rem;
      padding: 1.5rem;
    }
  }

  &-iconimage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5rem solid #333;
    object-fit: cover;
    @include pc {
      border: 2rem solid #333;
    }
  }

  &-name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24rem;
    white-space: nowrap;
    @include pc {
      font-size: 8rem;
    }
  }

  // モーダル表示
  &-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    //transform: scale(0.3);
    transform: translateY(-100%);
    transform-origin: center;
    transition: 0.2s ease-in;

    &.active {
      z-index: 1000;
      opacity: 1;
      //transform: scale(1);
      transform: translateY(0);
    }

    .swiper-container {
      width: 100%;
      height: 100%;
    }
  }

  // モーダル・情報
  &-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 102;
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 32rem;
    grid-row-gap: 8rem;
    justify-content: flex-start;
    padding: 24rem;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(#000, 0.6) 0, rgba(#000, 0.32) 60%, transparent 100%);
    opacity: 0.4;
    transition: 0.4s 0.2s ease-in-out;
    @include pc {
      grid-column-gap: 0;
      grid-row-gap: 0;
      max-width: 1200px;
      left: 50%;
      transform: translateX(-50%);
      justify-items: start;
    }

    .icon {
      grid-column: 1/2;
      grid-row: 1/3;
      width: 128rem;
      height: 128rem;
      border-radius: 50%;
      overflow: hidden;
      @include pc {
        width: 50rem;
        height: 50rem;
      }
    }

    .name {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      align-items: center;
      font-size: 30rem;
      @include pc {
        font-size: 13rem;
      }
    }

    .shop {
      margin-left: 1em;
      color: #fff;
      font-size: 22rem;
      padding: 1rem 8rem 2rem;
      border-radius: 6rem;
      border: 0.5px solid #fff;
      @include pc {
        font-size: 9rem;
      }
    }

    .stories-text {
      grid-column: 1/3;
      grid-row: 3/4;
      color: #fff;
      margin-top: 16rem;
      width: 100%;
      font-size: 28rem;
      /* white-space: nowrap; */
      line-height: 1.6;
      max-height: 124.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      @include pc {
        font-size: 9rem;
      }

    }
  }

}

.top-stories-modal {

  .top-stories-attendance {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 8rem 16rem;
    border-radius: 6rem;
    background-color: $c_pink;
    font-size: 26rem;
    line-height: 1;
    margin-right: 90rem;
    @include pc {
      font-size: 9rem;
      margin-right: 200rem;
    }

    &-time {
      margin-left: 0.6em;
    }
  }

  .stories-close {
    position: absolute;
    top: 16rem;
    right: 16rem;
    z-index: 102;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 90rem;
    height: 90rem;
    background: url(../img/common/close.png) no-repeat center / 90rem auto;
    @include pc {
      background: url(../img/common/close.png) no-repeat center / 50rem auto;
      width: 50rem;
      height: 50rem;
    }
  }

  .stories-sound {
    position: absolute;
    top: 28rem;
    right: 140rem;
    z-index: 102;
    width: 72rem;
    height: 72rem;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url(../img/common/sound-off.png) no-repeat center/72rem auto;
    @include pc {
      background-size: 30rem auto !important;
      width: 50rem;
      height: 50rem;
    }
  }

  .image-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;

    img {
      width: 100%;
      height: 100vh;
      object-fit: contain;
      @include pc {
        max-width: 1200px;
        margin: 0 auto;
      }
    }

    video {
      width: 100%;
      height: 100vh;
      object-fit: contain;
      @include pc {
        max-width: 1200px;
        margin: 0 auto;
      }
    }
  }

  // アクティブ時のエフェクト
  .swiper-slide-active {
    img {
      opacity: 1;
    }

    .top-stories-info {
      opacity: 1;
    }
  }
}

.tabitem2,
.tabitem3 {
  position: absolute;
  top: -99999px;
}