@charset "UTF-8";

@font-face {
  font-family: "Noto Sans CJK JP WF";
  font-weight: 400;
  src: url('../fonts/NotoSansCJKJP-reg.woff') format('woff');
}

@font-face {
  font-family: "Rounded Mplus 2p WF";
  font-weight: 400;
  src: url('../fonts/rounded-l-mplus-2p_reg.woff') format('woff');
}

@font-face {
  font-family: "Noto Serif JP WF";
  font-weight: 400;
  src: url('../fonts/NotoSerifJP-reg.woff') format('woff');
}

@font-face {
  font-family: "Noto Serif JP WF";
  font-weight: 800;
  src: url('../fonts/NotoSerifJP-bold.woff') format('woff');
}

/* Scss Document */
$breakpoint-pc: 1200px;
@mixin pc {
  @media screen and (min-width: ($breakpoint-pc)) {
    @content;
  }
}

// 変数
$c_pink: #ff009c;
$c_pink2: #ff009c;
$c_orange: #ff009c;

// スタイル初期化
html {
  font-size: calc(100vw / 750);

  @media screen and (min-width: 80em) {
    font-size: calc(1280px / 750);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

em,
b,
strong,
i {
  font-style: normal;
}

:focus {
  outline: 0;
}


input[type="text"],
input[type="checkbox"],
input[type="radio"],
textarea {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
}

input[type="text"],
textarea,
.capsize, .ltgt, select[name="data[Search][size_c]"] {
  padding: 4rem 8rem;
}

select {
  width: 100%;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
}

button {
  border: 0;
  font-family: inherit;
}

body {
  background-color: #666;
  color: #fff;
  font-family: "Noto Sans CJK JP WF";
  font-size: 16rem
}

h3 {
  font-weight: normal;
}

%expanded-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  color: transparent;
  font-size: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// フォーム入力系のスタイル
.label-for-mark {
  input[type="checkbox"] {
    margin-right: 8rem;
    width: 24rem;
    height: 24rem;
    background-color: #fff;

    @include pc {
      width: 9rem;
      height: 9rem;
    }

    &:checked {
      background: url(../img/common/checkbox.png) #fff no-repeat center / 100% auto;
    }
  }

  input[type="radio"] {
    margin-right: 8rem;
    width: 24rem;
    height: 24rem;
    border: 12rem solid #fff;
    border-radius: 12rem;
    background-color: $c_pink;

    &:checked {
      border-width: 6rem;
    }
  }
}

.container {
  background-color: #000;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  background-image: //repeating-linear-gradient(0deg, #4c4c4c 1%, #4c4c4c 2%, transparent 3%, transparent 100%),
          //repeating-linear-gradient(90deg, #4c4c4c 1%, #4c4c4c 2%, transparent 3%, transparent 100%),
          linear-gradient(45deg, #191919 25%, transparent 25%, transparent 75%, #191919 75%, #191919),
          linear-gradient(45deg, #191919 25%, transparent 25%, transparent 75%, #191919 75%, #191919);
  background-position: 0 0, 12px 12px;
  background-size: 24px 24px;
  @include pc {
    max-width: 100%;
    background-image: none;
  }
}

// ヘッダー & メニュー
.global-header {
  position: relative;

  &-meta {
    border-bottom: 1px solid #ff009c;

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 5rem 153rem 5rem 5rem;
      font-size: 18rem;
      @include pc {
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        padding: 5rem 0 5rem 10rem;
        font-size: 12rem;
        color: $c_orange;
        max-width: 1200px;
        justify-content: space-between;
      }

      &-box {
        width: 80%;
        @include pc {
          width: auto;
          display: flex;
          flex-direction: column;
        }

        img {
          padding: 0 !important;

          &:nth-child(2) {
            display: none;
            @include pc {
              display: block;
            }
          }
        }
      }

      h1 {
        display: none;
        @include pc {
          display: inline-block;
          font-size: 12rem;
          font-weight: normal;
          padding-right: 10rem;
        }
      }

      .header-tel {
        display: none;
        @include pc {
          display: inline;
        }
      }

      img {
        width: 400rem;
        padding: 10rem 0;
        @include pc {
          width: 152rem;
          padding: 10rem 0 0 0;
        }
      }

    }
  }


  .header-banner {
    display: block;
    @include pc {
      margin: 0 auto;
      max-width: $breakpoint-pc;
    }
  }

  %menu-rect {
    content: "";
    display: block;
    width: 70rem;
    height: 6rem;
    background-color: #fff;
    transition: 0.1s ease-in-out;
    @include pc {
      width: 10rem;
      height: 1rem;
    }
  }

  .navigation-button {
    position: fixed;
    right: 10rem;
    top: 7rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 140rem;
    height: 140rem;
    background-color: $c_pink;
    border-radius: 50%;
    border: 0;
    outline: 0;
    padding-top: 76rem;
    padding-left: 33rem;

    @include pc {
      width: 40rem;
      height: 40rem;
      padding-top: 20rem;
      padding-left: 8rem;
      top: initial;
      bottom: 25rem;
      right: 16rem;
    }

    .rect {
      @extend %menu-rect;
      padding-top: 1rem;
      width: 45rem;
      @include pc {
        width: 13rem;
      }
    }

    &::before {
      @extend %menu-rect;
      position: absolute;
      top: 28rem;
      @include pc {
        top: 9rem;
        width: 20rem;
      }
    }

    &::after {
      @extend %menu-rect;
      position: absolute;
      top: 52rem;

      @include pc {
        top: 14rem;
        width: 20rem;
      }
    }

    .label {
      margin-top: 8rem;
      color: #fff;
      font-size: 25rem;
      font-weight: bold;
      @include pc {
        margin-top: 1rem;
        font-size: 8rem;
      }
    }

    &:active {
      background-color: #e23975;
    }

    &.open {
      .rect {
        transform: rotate(45deg) translate(-19rem, -19rem);
        width: 70rem;
        @include pc {
          width: 20rem;
          transform: rotate(45deg) translate(-5rem, -5rem);
        }
      }

      &::before {
        transform: rotate(-45deg) translate(-12rem, 12rem);
        @include pc {
          transform: rotate(-45deg) translate(-3rem, 3rem);
        }
      }

      &::after {
        opacity: 0;
      }

      .member,
      .member-group {
        transform: translateX(150%);
      }
    }

    &.top {
      animation: fadeInTop 0.2s ease both;
      @include pc {
        top: initial;
        bottom: 25rem;
        right: 16rem;
      }
    }

    &.bottom {
      top: initial;
      bottom: 32rem;
      right: 16rem;
      animation: fadeInBottom 0.2s ease both;
    }

    .member,
    .member-group {
      position: absolute;
      top: 157rem;
      width: 140rem;
      height: 140rem;
      right: 3rem;
      @include pc {
        top: -133%;
        width: 40rem;
        height: 40rem;
        right: 0;
      }

    }

    &.top {
      .member,
      .member-group {
        top: 115%;
        @include pc {
          top: -133%;
        }
      }
    }

    &.bottom {
      .member-group {
        top: -125%;
        @include pc {
          top: -133%;
          right: 2%;
        }
      }

      .member {
        top: -222%;
        @include pc {
          top: -133%;
        }
      }
    }

    &.bottom.open {
      .member,
      member-group {
        display: none;
      }
    }
  }

  @keyframes fadeInBottom {
    0% {
      opacity: 0;
      transform: translate(100%, 100%);
    }

    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translate(100%, -100%);
    }

    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  //各店舗のハンバーガーメニュー

  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -2;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    border: 2rem solid $c_pink;
    opacity: 0;
    transition: 0.2s ease;
    @include pc {
      max-width: 700px;
    }

    .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 20rem;
      width: 100%;
    }

    .item {
      width: 49%;
      margin-bottom: 20rem;
      @include pc {
        margin-bottom: 10rem;
      }
    }

    a {
      display: block;
      padding: 16rem 0;
      border: 0.5px solid #b4b4b4;
      color: #fff;
      font-size: 32rem;
      text-align: center;
      transition: 0.2s ease;
      @include pc {
        padding: 8rem 0;
        font-size: 11rem;
      }

      &:hover {
        border-color: $c_pink;
        color: $c_pink;
      }
    }
  }

  .navigation-button.open + .navigation {
    z-index: 998;
    opacity: 1;
  }

  //Groupのハンバーガーメニュー

  .group-navigation {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -2;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    padding: 60rem 0;
    background-color: #000;
    border: 2rem solid $c_pink;
    overflow: scroll;
    opacity: 0;
    transition: 0.2s ease;
    @include pc {
      max-width: 700px;
      overflow-x: auto;
      background-color: #000000d4;
      border: none;
      box-shadow: -6px 6px 10px 0px rgba(0, 0, 0, 1);

      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #7b7b7b;
      }
      &::-webkit-scrollbar {
        background: #000;
        width: 15px;
        height: 12px;
      }
    }

    .menu-img {
      display: none;
      @include pc {
        display: block;
        position: absolute;
        top: 21rem;
        right: 55rem;
      }
    }

    .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60rem;
      padding: 0 20rem;
      width: 100%;
      @include pc {
        margin-bottom: 30rem;
      }
    }

    .item {
      width: 49%;
      margin-bottom: 20rem;
      @include pc {
        margin-bottom: 8rem;
      }
    }

    a {
      display: block;
      padding: 16rem 0;
      border: 0.5px solid #b4b4b4;
      color: #fff;
      font-size: 32rem;
      text-align: center;
      transition: 0.2s ease;
      @include pc {
        padding: 8rem 0;
        font-size: 11rem;
      }

      &:hover {
        border-color: $c_pink;
        color: $c_pink;
      }
    }

    .link-menu {
      padding: 0 20rem;
      width: 100%;
      color: $c_pink;
      text-align: center;


      img {
        width: 35%;
        padding: 10rem 0;
      }

      &-box {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60rem;
        @include pc {
          margin-bottom: 20rem;

        }


        .item {
          width: 50%;
          margin-bottom: initial;
        }

        :first-child {
          width: 100%;
          flex-shrink: 0;
        }

        a {
          display: block;
          padding: 16rem 0;
          border: 0.5px solid $c_pink;
          color: $c_pink;
          font-size: 32rem;
          text-align: center;
          transition: 0.2s ease;
          @include pc {
            padding: 8rem 0;
            font-size: 11rem;
          }

          &:hover {
            border-color: #fff;
            color: #fff;
          }
        }
      }


    }
  }

  .navigation-button.open + .group-navigation {
    z-index: 998;
    opacity: 1;
  }

}

.top_bnr {
  margin-bottom: 10px;
}

// 予約ナビ (店舗用)
.reserve-nav {
  position: fixed;
  z-index: 997;
  right: 16rem;
  bottom: 185rem;
  transition: 0.2s ease;
  transform: translateX(120%);
  @include pc {
    display: none;
  }

  &-tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140rem;
    height: 140rem;
    background-color: #004aaf;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    color: #fff;
    font-size: 24rem;

  }

  &-icon {
    width: auto;
    height: 64rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
    @include pc {
      height: 30rem;
    }
  }

  &.show {
    transform: translateX(0);
  }
}

// 店舗ナビ (グループ用)
.shop-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 997;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16rem;
  padding-right: 156rem;
  padding-bottom: 16rem;
  width: 100%;
  background-color: #212121;
  background-image: linear-gradient(to bottom, #363636 0%, #000 100%);
  transform: translateY(100%);
  transition: 0.2s ease;
  @include pc {
    display: none
  }

  &.show {
    transform: translateY(0);
  }

  &-item {
    width: 25%;
    padding: 24rem 0;
    color: #fff;
    font-size: 28rem;
    text-align: center;
    @include pc {
      padding: 20rem 0;
      font-size: 10rem;
    }

    &:not(:last-child) {
      border-right: 1rem solid #999;
    }

    &:active {
      background-color: #333;
    }
  }
}

// セクション見出し
.section-title {
  margin-bottom: 20rem;
  padding-left: 32rem;
  /* height: 100rem; */
  background: url(../img/common/section-title.png) no-repeat center / 100% 100%;
  font-weight: 400;
  font-size: 40rem;
  line-height: 100rem;

  @include pc {
    font-size: 10rem;
    max-width: $breakpoint-pc;
    background-color: $c-pink;
    color: #fff;
    margin: 0 auto;
    background-image: none;
    text-align: left;
    line-height: inherit;
  }
}

//ページサブメニュー
.sub-menu {
  position: sticky;
  background: #333;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: flex-start;
  font-size: 35rem;
  margin: 20rem auto;
  border-bottom: 1px solid $c_orange;
  border-top: 1px solid $c_orange;
  padding: 25rem;
  flex-wrap: nowrap;
  overflow-x: scroll;

  .nav-link.active {
    color: $c_orange; /* アクティブなリンクの色を赤に設定 */
  }

  @include pc {
    justify-content: center;
    margin: 0 auto 10rem auto;
    padding: 5rem;
    font-size: 10rem;
    width: 100%;
    max-width: 1200px;
    overflow-x: unset;
    border-bottom: 2px solid $c_orange;
    border-top: 2px solid $c_orange;
  }

  .item + .item {
    border-left: 1px solid $c_orange;
  }

  .item {
    width: 100%;
    min-width: 30%;
    text-align: center;
    @include pc {
      width: auto;
      min-width: auto;
    }

    a {
      font-size: 26rem;
      position: relative;
      padding: 5rem 10rem;
      width: 100%;
      min-width: 30%;

      &:hover {
        color: $c-pink;
      }

      @include pc {
        font-size: 10rem;
      }

      //&:last-child {
      //  :after {
      //    content: "";
      //    position: absolute;
      //    width: 1px;
      //    height: 77%;
      //    right: 0;
      //    top: 50%;
      //    background: $c_orange;
      //    transform: translateY(-50%);
      //  }
      //}


    }
  }
}

// グラデーションボタン(ピンク)
.button-more {
  font-size: 32rem;
  display: block;
  margin-top: 10rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50rem;
  width: 564rem;
  border-radius: 16rem;
  /* background-image: linear-gradient(0deg, #ff006b 0, #ff0079 50%, #d20064 50%, #d30048 100%); */
  background-color: $c_pink;
  color: #fff;
  line-height: 72rem;
  text-align: center;
  @include pc {
    width: 200rem;
    font-size: 9rem;
    line-height: 16rem;
  }
}

// ページネーション
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 48rem;

  &-item {
    padding: 8rem 24rem;
    font-size: 28rem;
    border: 1rem solid $c_pink;
    background-color: rgba(#212121, 0.6);
    color: #fff;

    &.current {
      background-color: $c_pink;
      color: #fff;
    }

    &.active {
      background-color: $c_pink;
      color: #fff;
    }

    &:not(:last-child) {
      margin-right: 16rem;
    }
  }
}

.pager {
  display: flex;
  justify-content: center;
  margin-bottom: 48rem;

}

.paging {
  display: flex;
  align-items: center;
  @include pc {
    align-items: flex-start;
  }
}

.paging li span {
  padding: 10px 10px;
  font-size: 10px;
  border: 1rem solid $c_pink;
  background-color: rgba(33, 33, 33, 0.6);
  color: #fff;
  background-color: $c_pink;
  @include pc {
    font-size: 11rem;
  }

  &:not(:last-child) {
    margin-right: 16rem;
  }

  .active {
    background-color: $c_pink;
    color: #fff;

  }
}

//パンくずリスト
.bread {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  margin: 10px 0;
  padding: 0 20rem;

  @include pc {
    margin: 0 auto;
    max-width: $breakpoint-pc;
    padding: 3rem 0 3rem 47rem;
  }

  a {
    //color: #ff9100;
    color: #ff009c;
    margin-right: 10px;
  }

  .left-space {
    margin-left: 10px;
  }

  .bread-current {
    margin-left: 10px;
  }
}


.footer {
  padding-left: 20rem;
  padding-right: 20rem;
  padding-bottom: 128rem;
  @include pc {
    margin: 0 auto;
    max-width: 1200px;
  }

  .navigation-banner {
    margin-bottom: 96rem;
    @include pc {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 10rem;
      margin-bottom: 50rem;
    }
  }

  .banner-link:not(:last-of-type) {
    display: block;
    margin-bottom: 44rem;
    @include pc {
      margin-bottom: 0;
    }
  }


  .banner-image {
    display: block;
    width: 100%;
    @include pc {
      width: 320rem;
    }
  }

  .groupshop-banner-store {
    padding: 6px 0;
    margin-bottom: 30px;
    border: 2px solid $c_pink;
    background: #000000;
    text-align: center;
    color: $c_pink;
    @include pc {
      max-width: 1200px;
      margin: 75px auto 0
    }

    .groupshop-banner-store-name {
      font-family: "Noto Sans CJK JP ", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W6',
      sans-serif;
      font-size: 26px;
      font-weight: bold;
    }

    .groupshop-banner-store-time {
      margin-top: -4px;
      font-size: 23px;
      @include pc {
        font-size: 18px;
      }
    }
  }

  .groupshop-banner-txt {
    display: flex;
    flex-wrap: wrap;
    gap: 50rem 78rem;
    width: 90%;
    margin: 0 auto 60px;
    @include pc {
      gap: inherit;
      padding: 35px 0;
      width: 1200px;
    }

    .groupshop-banner-txt-link {
      font-family: "Noto Sans CJK JP ", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W6',
      sans-serif;
      color: $c_pink;
      font-size: 37rem;
      font-weight: bold;
      border-bottom: 1.5px solid $c_pink;

      &:hover {
        opacity: 0.5;
      }

      @include pc {
        margin: 0 auto;
        font-size: 14rem;
      }
    }
  }

  .groupshop-banner-img {
    @include pc {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20rem;
    }
  }

  .banner-link {
    p {
      font-family: "Noto Sans CJK JP ", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W6',
      sans-serif;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      @include pc {
        width: 100%;
      }
    }
  }
}

@import "top";
@import "top-stories";

@import "girls";
@import "girl-listview";
@import "girl-detail";

@import "schedule";
@import "realtime";
@import "stories";

@import "ranking";
@import "system";

@import "review";
@import "events";
@import "enquetes";
@import "mailmagazine";
@import "access";
@import "jobinterview";
@import "column";
@import "entrance";
@import "shop-entrance";

